<div class="w-full h-[1114px] bg-[#fff6e7] relative overflow-hidden">
  <img
    src="./Hero.webp"
    alt="Hero Image"
    class="w-full md:h-[120%] object-cover h-[42%]"
  />
  <div
    class="absolute md:bottom-0 left-1/2 transform -translate-x-1/2 text-center text-black pb-8 flex flex-col gap-1 top-80 pt-20 md:pt-0 md:top-auto"
  >
    <p
      style="
    line-height: 1.12431074em;
    text-align: center;
    letter-spacing: 0;
    filter:
      drop-shadow(0em 0em 0.021125em rgba(161, 0, 67, 0.95))
      drop-shadow(0em 0em 0.105625em rgba(161, 2, 68, 0.75))
      drop-shadow(0em 0em 0.316875em rgba(161, 2, 68, 0.44));
    transform: translateZ(0);
    margin: 0;
  "
    >
      <span style="color: rgb(255, 255, 255);"
        class="text-3xl whitespace-nowrap md:text-9xl animate-slide-in-bottom">Maria Fernanda</span>
    </p>

    <div class="flex items-center text-red-900 font-bold md:text-7xl">
      <div class="flex-grow border-t-2 border-white"></div>
      <p class="mx-4 text-1xl md:text-7xl">Mis XV años</p>
      <div class="flex-grow border-t-2 border-white"></div>
    </div>
  </div>
</div>
