---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Página de los XV</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family:
      "Times New Roman",
      Times,
      serif system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
  @keyframes slide-in-bottom-exaggerated {
    0% {
      transform: translateY(400%);
      opacity: 0;
    }
    80% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-left-exaggerated {
    0% {
      transform: translateX(-550%);
      opacity: 0;
    }
    80% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-right-exaggerated {
    0% {
      transform: translateX(550%);
      opacity: 0;
    }
    80% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-bottom {
    animation: slide-in-bottom-exaggerated 1s ease-out both;
    animation-delay: 0.3s;
  }

  .animate-slide-in-left {
    animation: slide-in-left-exaggerated 1.3s ease-out both;
  }

  .animate-slide-in-right {
    animation: slide-in-right-exaggerated 1.3s ease-out both;
  }

  @keyframes fade-in-exaggerated {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fade-in-exaggerated {
    animation: fade-in-exaggerated 2s ease forwards;
    animation-delay: 0.3s;
  }
</style>
